*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

table{
    width: 80%;
    border-collapse: collapse;
    border: 3px solid darkcyan; /*solid linea continua*/
}

th{
    background-color:brown;
    color: white;
}

td{
    padding: 10px;
    text-align: center;
    border: 2px solid darkcyan;
}

tr:nth-child(odd){/*odd es impar y even es par*/
    background-color: deepskyblue;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.descripcion{
    width: 40%;

}